{% extends 'authBase.html' %}

{% block content %}


<section class="aboutUs__Page">
    <h1>We're here for you</h1>
</section>


<section class="ourstory">
    <h1>Our Story</h1>
    <div class="ourstory-content">
        <figure class="ourstory__image">
            <img src="../../static/media/bgImages/joinedas.png" alt="Processing image">
        </figure>
        <div class="clearfix">
            <p class="justify">EDAS Consulting Services, founded in 2018 by Silas Magawi and Pauline Rogito, was born out of a shared vision to revolutionize HR solutions for organizations and individuals. Guided by a profound belief in the inherent value of people, our company is dedicated to transforming the human resource experience into an exhilarating journey.
        
                    From the very beginning, EDAS Consulting Services set out to empower young individuals through personal development initiatives. Recognizing the transformative power of investing in the potential of the next generation, we committed ourselves to unlocking their talents and nurturing their growth.
                    
                    As time went on, our dedication and passion resonated with the community, leading to our rapid expansion. Responding to the diverse needs of our clients, we broadened our horizons and embraced the entire spectrum of human resources. Today, we stand as a comprehensive consultancy, providing specialized training, strategic advisory services, and holistic HR solutions.
                    
                    </p>
        </div>
    </div>
    <div class="ourstory-content2">
        <p class="justify">
            Operating primarily in Kenya, our home country, we have established ourselves as a trusted partner in the field. With a team of over 100 talented professionals, we have successfully supported numerous businesses and individuals in their HR endeavors. We take immense pride in our achievements and the positive impact we have made on the lives of those we serve.
                    
            Looking ahead, our aspirations extend far beyond our current accomplishments. EDAS Consulting Services aims to continue growing, expanding our reach, and making a difference in the lives of even more organizations and individuals. We are committed to remaining at the forefront of innovation in HR, consistently delivering simplified solutions that drive success, fulfillment, and growth.
            
            Join us on this exciting journey as we uplift the value in people, transform HR experiences, and contribute to a thriving future for all. Together, we can unlock the full potential of individuals, businesses, and communities, creating a world where every resource is harnessed to its greatest advantage.
        </p>
    </div>
</section>


<section class="wearehere__andwhy">
    <div class="wearehere_andwhy_contents">
        <div class="wearehere vvc">
            <div class="overlay__wearehere">
                <h2 class="vvch2">We are here for one reason:</h2>
                <p>To be the HR consultancy firm of choice to individuals and organizations for world-class
                    human resource management solutions.</p>
            </div>
        </div>
        <div class="andwhy vvc">
            <div class="overlay__andwhy">
                <h2 class="vvch2">And Why:</h2>
                <p>Our capabilities are completely scalable and our processes provide industry-leading results, regardless of the size of your company or project. 
                    We are committed to serving your human resource needs both at an individual and corporate level. 
                    
                    In serving our clients, we take a keen interest in the unique nature of their business needs and work closely with them in order to meet the specific needs.
                    
                    We go an extra mile in our delivery and leave nothing to chance. We aim to build trust among our clients in a bid to ensure that they can rely on us for any HR need. </p>
            </div>
        </div>
    </div>
</section>  


<section class="our__approach ">
    <h1>Our Approach</h1>
    <div class="our-approach-content">
        <figure class="ourstory__image">
            <img src="../../static/media/bgImages/51.jpg" alt="Processing image">
        </figure>
        <div class="ourapproach_content ourstory__content">
            <p class="justify"> In undertaking the assignments, we focus on but are not limited to employment laws, organization goals, vision and strategies, best labour practices, clients’ specific needs etc. We believe an interactive approach, plus our consultants’ expertise and state-of-the-art methodologies, are directly responsible for our extraordinary success rate. Our approach, built on immersive collaboration, customer-focused design thinking, and comprehensive solutions, enables EDAS Consulting to provide business and HR leaders with the necessary momentum to predict and react to disruptive forces.
                As a firm, we use the consultative process approach whereby the stakeholders will be consulted at every stage where necessary. This will encourage positive participation and ownership of the assignment. It is crucial to have senior management support, especially where policies relate to employee behaviour. The endorsement and modelling of the behaviour by the CEO, senior managers and supervisors will encourage staff to take the policies and changes seriously.</p>
        </div> 
    </div>
    <div class="ourapproach-btn"><a href="{% url 'services' %}">LEARN MORE</a></div>     
</section>


<section class="meetTeam">
   <h1>Meet the team</h1>
    <div class="meetTeamIntro">
      <p>EDAS Consulting Services is made up of 6 qualified HR and 1 Legal Consultant with an accumulation of over 50 years combined in Employment Law, HR Consultancy, HR Advisory, Training, Labour Management and Career Management. In addition, they have over 10 part-time consultants who are engaged on a case-to-case basis depending on the role and speciality. This ensures that the team is able to meet the demand of their customers while ensuring quality in the services offered. 
        Besides the core members, the firm boasts of a great administrative team that work round the clock to support the firm in handling office matters. We believe in quality and for that, we go for the best!.</p>
    </div>

    <div class="meetTeam__Contents">
      <div class="silas team white">
        <div class="text1 pushedRight">
          <h2>Silas Magawi</h2>
          <h3>HR Consultant & Managing Founder</h3>
          <p>Meet Silas, the Captain of the ship. He has been steadfast in his commitment to elevating organizations through strategic HR practices. As the Founder of EDAS Consulting Services and the Managing Partner at Paula Creations and LACONS Consulting Services, Silas has had the privilege of leading transformative initiatives that drive growth and success. He is a dedicated and enthusiastic Human Resource/Records Management/Knowledge Management professional with a fervent passion for providing expert advisory, consulting, and training services.</p>
        </div>        
        <figure class="team__image">
          <img src="../../static/media/teamImages/silascropped.png" alt="Processing image">
        </figure>
      </div>
  
      <div class="Pauline team white">
        <figure class="team__image grid">
          <img src="../../static/media/teamImages/paulaNobg.png" alt="Processing image">
        </figure>
        <div class="text1 pushedLeft">
          <h2>Paula Rogito</h2>
          <h3>HR Consultant & Head of Recruitment</h3>
          <p>Now meet Paula, who is an astute Human Resource professional with strong business acumen, With her background and keen business insight, she has achieved notable success in the organizations she has worked with.</p>
          <p>
            In the realm of Human Resource Management, She have excelled in implementing impactful employee engagement initiatives, executing effective recruiting strategies, and orchestrating comprehensive training programs, all contributing to heightened satisfaction, a skilled workforce, and streamlined organizational growth. Additionally, her proficiency in business development is underscored by successful sales strategies, lead generation resulting in customer loyalty, and adept negotiations, solidifying profitable deals and fostering enduring client relationships.
          </p>
        </div>
        <figure class="team__image none">
          <img src="../../static/media/teamImages/paulaNobg.png" alt="Processing image">
        </figure>
      </div>

      <div class="sarah team white">
        <div class="text1 pushedRight">
          <h2>Sarah Jackson</h2>
          <h3>Head of Finance</h3>
          <p>Sarah Jackson, the Head of Finance for EDAS Consulting Services, is a financial expert with a strong track record in financial management and analysis. She excels in ensuring accuracy and compliance with regulations, leveraging proficiency in accounting software. Sarah's results-driven approach includes successful cost-saving measures, an efficient transition to automated accounting, and key contributions to external audits. Additionally, she has demonstrated administrative prowess, streamlining processes and achieving a 15% improvement in employee retention through onboarding programs and successful company-wide events.</p>
        </p>
        </div>
        <figure class="team__image">
          <img src="../../static/media/teamImages/sarajack.png" alt="Processing image">
        </figure>
      </div>
  
      <div class="winfred team white">
        <figure class="team__image grid">
          <img src="../../static/media/teamImages/winfredNobg.png" alt="Processing image">
        </figure>
        <div class="text1 pushedLeft">
          <h2>Winfred Mwaniki</h2>
          <h3>Head of Sales and Marketing</h3>
          <p>Paula Rogito is a skilled Software Engineer with a passion for crafting innovative digital solutions. With a strong foundation in computer science and programming, Issa thrives in creating robust and efficient software systems. He excels in problem-solving and thrives in collaborative environments, contributing to the development of cutting-edge applications. Count on Issa's expertise to drive software projects to success, delivering reliable and user-friendly software solutions.</p>
        </div>
        <figure class="team__image none">
          <img src="../../static/media/teamImages/winfredNobg.png" alt="Processing image">
        </figure>
      </div>
  
    </div>
</section>


<!-- help you start -->
<section class="help-you">
    <div class="help-you-content">
        <h3 class="text-transform">How can we help you?</h3>
        <div class="contact-us-btn "><a href="{% url 'contact' %}">CONTACT US </a></div>
    </div>
</section>
<!-- help you end -->

{% endblock %}