{% extends 'authBase.html' %}

{% block content %}


<section class="contactUs__Page">
    <h1>Get In Touch</h1>
</section>


<section class="contactPage__Start">
    <div class="reachus msg">
        <div class="mail">
            <h4>Email</h4>
            <p>info@edasconsulting.co.ke</p>
        </div>
        <div class="customer__service">
            <h4>Customer Service</h4>
            <p>+254 754 999 339</p>
        </div>
        <div class="front-office">
            <h4>Front Office</h4>
            <p>+254 754 999 339</p>
        </div>
    </div>
    <div class="selectways msg">
        <h4>Quick Help</h4>
        <ul>
            <li><a href="#"><i class="fas fa-toolbox"></i> Request for a service</a></li>
            <li><a href="#"><i class="fas fa-handshake"></i>Become a partner</a></li>
            <li><a href="#"><i class="fas fa-search"></i>  Looking for something else ?</a></li>
        </ul>           
    </div>
    <div class="message msg">
        <h4>Message Us</h4>
        <p>
           Fill out our contact form, and we will get back to you shortly.
           For more information, please send us an email.
        </p>
    </div>
</section>


<section class="contactPage__Start">
    <div class="contact-us contactpage__form__item">
        <h4>Contact form</h4>
        <form action="{% url 'contact' %}" method="post" id="hire-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="name" placeholder="Your Full Name" class="dets" value="" required>
            </div>
            <div class="form-group">
                <input type="text" name="subject" placeholder="Subject" class="dets" value="" required>
            </div>
            <div class="form-group">
                <input type="text" name="phonenumber" placeholder="Phone Number" class="dets" value="" required>
            </div>
            <div class="form-group">
                <input type="email" name="emailadress" placeholder="Your Email" class="dets" value="" required>
            </div>
            <div class="form-group">
                <textarea name="message" placeholder="Your Message" class="dets" rows="6" required></textarea>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="newsletter" value="1" class="checkbox">
                    <p>Subscribe me to your newsletter. I can opt-out anytime.</p>
                </label>
            </div>
            <div class="form-group-button">
                <input class="submit-button" type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
    <div class="company-info contactpage__location__item">
        <h4>Location</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38500.75795539529!2d36.85585313487899!3d-1.246520108536598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f143332740441%3A0x5bf4fa9b22608278!2sRuaraka%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1694251320638!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>


{% endblock %}