{% extends 'authBase.html' %}

{% block content %}


<section class="services__Page">
    <h1>Revolutionizing HR solutions for you</h1>
</section>


<section class="our__Services">
    <h1>Our Services</h1>
    <div class="services__Contents__one">
        <div class="aspirational-statement">
            <div class="service__item text1">
                <h2>HR Consultancy and support services.</h2>
                <p>Due to changing rules and increasing demands, many companies are confronted with a lack of 
                  internal resources to deal with them.
      
                  We provide employers and HR practitioners with consultancy advice, acting as 
                  your own in-house HR and Labour law experts on a need basis. We help you with the 
                  development and implementation of the best labour practices thus reducing liability 
                  arising from ineffective and non-compliant workplace practices.</p>
            </div>
            <figure class="service__image">
                <img src="../../static/media/bgImages/labor_relations_specialist.jpg" alt="Processing image">
            </figure>
        </div>

        <div class="aspirational-statement">
            <figure class="service__image grid">
                <img src="../../static/media/bgImages/hraudit.webp" alt="Processing image">
            </figure>
            <div class="service__item text1">
                <h2>HR Audit and compliance services</h2>
                <p>The employment and labour laws are dynamic thus employers are faced with the dilemma of keeping their HR practices up to date with the changes. In this regard, EDAS Consulting assists businesses with periodic audit reviews across all the HR functions focused on the best practices. These audits are data-driven and areas such as legal compliance and standard operating procedures are evaluated. The conclusion of these audits is marked by an analysis of risk and corporate governance recommendations.</p>
            </div>
            <figure class="service__image none">
                <img src="../../static/media/bgImages/hraudit.webp" alt="Processing image">
            </figure>    
        </div>
       
        <div class="aspirational-statement">
            <div class="service__item text1">
                <h2>Training and development</h2>
                <p>We offer an unrivalled range of training and development services with specialized thought leadership management training. This is designed to equip employers and HR Practitioners with the requisite information and insights needed to increase the efficacy of their leadership skills. Our team is comprised of multi-skilled experts and competent trainers in the areas of Labour relations, Employment Law and HR who offer day-to-day advice to companies of all sizes on all HR and Employment Law matters.</p>
            </div>
            <figure class="service__image">
                <img src="../../static/media/bgImages/Hrsolutions.webp" alt="Processing image">
            </figure>
        </div>

        <div class="aspirational-statement">
            <figure class="service__image  grid">
                <img src="../../static/media/bgImages/Planning.webp" alt="Processing image">
            </figure>
            <div class="service__item text1">
                <h2>Performance management and planning</h2>
                <p>As an employer, managing performance is critical to making decisions related to staff training, career development, compensation, transfers, promotions, and termination. This allows you to set clear goals and expectations for each employee and provide feedback about their performance related to those goals. Performance management is also valued by employees, as it can offer opportunities for them to grow within your organization and advance their careers.</p>
            </div>
            <figure class="service__image none">
                <img src="../../static/media/bgImages/Planning.webp" alt="Processing image">
            </figure>
        </div>
    </div>  

    <div class="services__Contents__two">
       <div class="aspirational-statement">
            <div class="service__item text1">
                <h2>HR Outsourcing and seconding</h2>
                <p>We enhance our clients’ operations by helping them keep their business lean and efficient through offering HR outsourcing, seconding and documentation services. As your HR outsourcing partner, we work to help your business succeed by making the messy work of HR simple, manageable, and affordable.
                    We offer a variety of HR outsourcing solutions that help you get exactly what you need, including HR function automation and hands-on guidance across:
                    </p>
            </div>
            <figure class="service__image">
                <img src="../../static/media/bgImages/helpyouu.jpg" alt="Processing image" >
            </figure>
       </div>

        <div class="outsourcing_and_seconding_contents">
            <p> <strong>Talent Acquisition</strong>— we help you find, hire and onboard excellent employees with the right skills, competencies, knowledge and experience who fit your company culture. We do this more cost-effectively.
            </p>
            <p><strong>Strategic HR </strong>— Strategy forms the foundation of your organization. In this regard, we work with you to help you align the HR strategy to the overall organizational strategy. We also help analyse your compensation strategy, as well as your turnover and engagement metrics to get your “best-fit” design.
            </p>
            <p> <strong>Compliance</strong> — We help our clients avoid common HR management pitfalls by giving real-time and constantly advice on the changes to employment regulations. Additionally, we develop and design a set of policies, procedures and contracts in line with your specific requirements, needs and provisions of the labour laws.
            </p>
            <p> <strong>Payroll</strong> — Let us take away the stress of crunching numbers by supplementing your payroll administration and management to help reduce cost and risk, including filing taxes as well as statutory.
            </p>
            <p><strong>Performance Management</strong> –We help you create a high-performance culture by working closely with your executives and managers to track evaluate and conduct employee performance appraisals regularly</p>
        </div>
  </div>   
</section>


<!-- help you start -->
<section class="help-you">
    <div class="help-you-content">
        <h3 class="text-transform">How can we help you?</h3>
        <div class="contact-us-btn "><a href="{% url 'contact' %}">CONTACT US </a></div>
    </div>
</section>
<!-- help you end -->

{% endblock %}